<!DOCTYPE HTML>
<html>
<head>
    <title>Ibuntu | Signin </title>
    {% include 'parts/head.twig' %}
</head>
<body>
<div >
    <h2 class="header"><a href="index.html">Ibuntu</a></h2>
    <div class="login-bottom">
        <form action="/login" method="post">
            <h2 class="header">Login</h2>
            <div class="col-md-12">
                <div class="login-mail">
                    <input type="text" placeholder="Email" name="email" required="">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="login-mail">
                    <input type="password" placeholder="Password" >
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="col-md-12 login-do">
                <p class="center" >Login With</p>
                <label class="hvr-shutter-in-horizontal login-sub">
                    <input type="submit" value="Google" onclick="window.location='{{ google }}';" >
                </label>
                <p class="center" >Or</p>

                <label class="hvr-shutter-in-horizontal login-sub fb-login" >
                    <input type="submit" value="Facebook" onclick="window.location='{{ fb }}';">
                </label>

                {#<a href="signup.html" class="hvr-shutter-in-horizontal">Signup</a>#}
            </div>
            <hr>
            <div class="col-sm-12 login-do login-submit-custom">
                <label class="hvr-shutter-in-horizontal login-sub">
                    <input type="submit" value="Submit">
                </label>
            </div>
            <div class="clearfix"> </div>
        </form>
    </div>

</div>
<!---->
<div class="copy-right">
    <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>	    </div>
<!---->
<!--scrolling js-->
<script src="/front-end/js/assets/jquery.nicescroll.js"></script>
<script src="/front-end/js/assets/scripts.js"></script>
<!--//scrolling js-->
</body>
</html>



