.profile-pic{
    width:60px;
    height:60px;
}
content-top-1{
    width:25% !important;
}
.active-button{
    background-color: #1f4f77;
}
.active-button:hover{
    background-color:#122b40;
}
.span-icon{
    display:inline-block;
    width:60%;
    margin-top:15px;
}
[v-cloak] {
    display: none;
}

.sub-heading{
    color:#999;
}

.content-block{
    margin:5% 0;
}

.button-holder{
    text-align: center;
    margin:3% 0;
}

.form-upload{
    margin:5% 0;
}
.storage-but{
    text-align: center;
    margin:3% 0;
}
.download-btn{
    font-size:.7em;
}
.download-img{
    margin:auto;
}

.back-file{
    background-color: #f7f7f7;
    border-radius: 10px;
    padding-top: 18px;
    margin: 5px;
}
.gallery-file{
    background-color: #f7f7f7;
}
.align{
    text-align: center;
}
.not-shown{
    display: none;
}
.nav-tabs li a {
    display: block;
    padding: 6%;
}

.assignments{
    margin:5% 0;
}
.datepicker-input{
    border-top: none;
    border-left: none;
    border-right: none;
}