.profile-pic{
    width:60px;
    height:60px;
}
content-top-1{
    width:25% !important;
}
.active-button{
    background-color: #1f4f77;
}
.active-button:hover{
    background-color:#122b40;
}
.span-icon{
    display:inline-block;
    width:60%;
    margin-top:15px;
}
[v-cloak] {
    display: none;
}

.sub-heading{
    color:#999;
}