.custom-grid{
    width:80%;
    margin:auto;
}
.submit-custom{
    text-align: center;
}
.submit-custom div{
    display:inline;
}
.submit-custom-right{
    text-align: right;
}
.right{
    text-align:right;
}
.right button{
    display:inline;
}
.sign-up-heading{
    text-align: center;
}
.profile-pic{
    display: block
}
.text-gallery{
    text-align:center;
}
textarea{
    height:160px !important;
}
@media screen and (max-width:767px) {
    .right{
        text-align: center;
    }
}